version: "3.8"

services:
  reader:
    build:
      context: ./read
      dockerfile: Dockerfile
    working_dir: /TP_DOCKER
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./read:/app:rw
    depends_on:
      - writer

  writer:
    build:
      context: ./write
      dockerfile: Dockerfile
    working_dir: /TP_DOCKER
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./write:/app:rw   